
<header>
    <h1>Mi Perfil</h1>
</header>
<div class="profile">
    <img src="assets/images/patsylab11.jpg" alt="Mi Foto de Perfil">
    <h2>{{ loginService.username }}</h2> <!-- Mostrar el nombre de usuario aquí -->
    <p>"Soy una joven de 19 años, rebosante de alegría y vitalidad. Mi sonrisa es mi firma, iluminando cada rincón con su brillo contagioso. Soy como un rayo de sol en primavera, irradiando energía positiva y una actitud vibrante hacia la vida. Siempre lista para abrazar nuevas experiencias con entusiasmo y una risa burbujeante, soy la personificación de la juventud y la felicidad en movimiento.</p>
</div>


